body, html {
    height:100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-calc {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
}

.subtract-calc {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
}

.multiply-calc {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
}